<!-- start custom head snippets -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% if page.jsxgraph %}
<!-- JSXGraph -->
<script src="{{ site.url }}/assets/js/vendor/jsxgraphcore.js"></script>
<link rel="stylesheet" href="{{ site.url }}/assets/css/vendor/jsxgraph.css">
{% endif %}
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
